.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: cover;
    min-height: 750px;
    align-items: center;
}

.about-left {
    margin-left: 35px;
}

.about-right {
    text-align: center;
}


.about-name {
    font-size: 3.5em;
    font-weight: 600;
    color: white;
}

.about-image {
    height: 400px;
    width: 400px;
}

.about-description {
    font-size: 2em;
    font-weight: 400;
    color: rgb(155, 155, 155);
}

@media only screen and (max-width: 850px) {
    .about {
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .about-left {
        margin-left: 0;
    }
    .about-image {
        max-width: 400px;
    }
}