.navbar {
    display: flex;
    width: cover;
    height: 30px;
}

.navbaritem {
    display: flex;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 5px;
    align-items: center;
}